
body {
    /*  background: #404040;  lime;  change later; for debugging */  
    margin:0;
    padding:0;
}

/* NOTE: use 80% for width  - 20% used by sidebar (markerlist) */
#map {
   position: absolute;
   top:0;
   bottom:0;
   left:0;
   width: 80%;
}

 
 #marker-list {
      position: absolute;
      top:0;
      right:0;
      width:20%;
      bottom:0;
      overflow-x: auto;
      background: #fff;   /* white */
      margin:0;
      padding:5px;
  }

  #marker-list li {
      padding:5px;
      margin:0;
      list-style-type:none;
  }
  #marker-list li:hover {
      background:#eee;
  }
  

  #marker-list li .counter-brewpub {
      display: inline-block;
      font-size: 10px;
      font-weight: bold;
      background-color:  #ffd700;   /* gold (yellow-ish) */
      color: #000;   /* black */
      padding: 4px;
      border-radius: 50%;
  }
  #marker-list li .counter-brewery {
      display: inline-block;
      font-size: 10px;
      font-weight: bold;
      background-color:  #008000;   /* green */
      color: #fff;     /* white */
      padding: 4px;
      border-radius: 50%;
  }
  #marker-list li .counter-brewery-m {
      display: inline-block;
      font-size: 10px;
      font-weight: bold;
      background-color: #0000ff;  /* blue */
      color: #fff;    /* white */
      padding: 4px;
      border-radius: 50%;
  }
  #marker-list li .counter-brewery-l {
      display: inline-block;  
      font-size: 10px;
      font-weight: bold;
      background-color: #ff0000;  /* red */
      color: #fff;      /* white */
      padding: 4px;
      border-radius: 50%;
  }

  #marker-list li .desc {
      font-size: 60%;
      color: grey;
  }


.icon-brewery-l {
  background-color: #ff0000;    /* red */
  color: #fff; /* white */
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-size: 18px;
  line-height: 40px;
  }

.icon-brewery-m {
  background-color: #0000ff;  /* blue */
  color: #fff;   /* white */
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  line-height: 30px;
  }

.icon-brewery {   /* brewery small */
  /* border: 5px solid rgba(255,255,255,0.5);    */
  background-color: #008000;   /* green */
  color: #fff;   /* white */
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  line-height: 20px;
  }

.icon-brewpub { 
  /* border: 5px solid rgba(255,255,255,0.5);    */
  background-color: #ffd700;   /* gold (yellow-ish */
  color: #000;   /* black */
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  line-height: 20px;
  }
